<ion-tabs>

  <ion-tab-bar slot="bottom" translucent="true" style="height: 62px">
    <ion-tab-button tab="home-tab">
      <ion-icon id = "icons" src="assets/icon/home.svg"></ion-icon>
      <ion-label class="tab-label">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search-tab">
      <ion-icon id = "icons" src="assets/icon/search.svg"></ion-icon>
      <ion-label class="tab-label">Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="collections-tab" (click)="openCreatePost()">
      <ion-icon src="assets/icon/publish.svg" id = "publish"></ion-icon>
      <ion-label class="tab-label">Publish</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="collections-tab">
      <ion-icon id = "icons" src="assets/icon/collection.svg"></ion-icon>
      <ion-label class="tab-label">Collections</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu-tab">
      <ion-icon id = "icons" src="assets/icon/menu.svg"></ion-icon>
      <ion-label class="tab-label">Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
