<ion-header color = "light" id = "header">
  <ion-toolbar color = "light">
    <ion-row style="padding-top: 16px; width: 100%" color = "light" >
      <ion-col size="2.5" align = "left">
        <ion-button fill="clear" shape="round" align = "start">
          <ion-icon src="assets/icon/profileicon.svg" slot="icon-only" color = "tertiary" id = "icon"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col align="center" style="padding-top: 8px">
        <img src="assets/icon/Shopify.svg" style="width: 40%" alt="" />
      </ion-col>
      <ion-col size="2.5" style="padding-right: 16px; padding-bottom: 4px;">
        <ion-button fill="clear" id="button" shape="round">
          <ion-icon src="assets/icon/Bell.svg" slot="icon-only" color="tertiary" id="icon"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="adjustElementOnScroll($event)">
  <ion-virtual-scroll [items]="posts">
    <div *virtualItem="let post; let i = index">
      <ion-item lines="none">
        <ion-avatar slot="start" class="profile-avatar">
          <ion-img [src]="post.profileImg"></ion-img>
        </ion-avatar>
        <ion-label>
          {{ post.name }}
        </ion-label>
        <ion-button *ngIf="!post.isFollow" expand="block" fill="solid" color="success" shape="round"
          class="follow-button" (click)="post.isFollow=!post.isFollow" style=" margin-right: 8px;">
          Follow
        </ion-button>
        <ion-button *ngIf="post.isFollow" expand="block" fill="clear" shape="round" class="follow-button" id="following"
          (click)="post.isFollow=!post.isFollow">
          Following
        </ion-button>
        <ion-icon src="assets/icon/options.svg"></ion-icon>
      </ion-item>
      <ion-row>
        <ion-col size="12" class="no-padding-left-right-bottom">
          <img [src]="post.postImg" class="post-img"  (click)="!ShowProducts" />
          <div class="over-image-options-div">
            <ion-icon src="assets/icon/favwhite.svg"></ion-icon>
          </div>
          <div (click)="OpenProducts(i)" class="over-image-options-product">
              <ion-icon name = "basket" color = "primary" style = "padding-right: 5px; font-size: 16px">
              </ion-icon> 5 Products
            </div>
        </ion-col>
        <div id = "popbutton" *ngIf = "ShowProducts[i] == true" (click)="HideProducts(i)">
        <ion-icon src="assets/icon/close.svg" style="width: 20px; height: 20px"></ion-icon>
      </div>
        <app-productslides *ngIf = "ShowProducts[i] == true" id = "popup" style="height: 280px; width: 100%; z-index: 10">
        </app-productslides>
        <ion-col size="4" id = "actions" align = "start" style="padding-left: 16px">
          <ion-icon *ngIf="!post.isLiked" src="assets/icon/heart.svg" class="post-footer-option-icon"
            (click)="post.isLiked=!post.isLiked"></ion-icon>
          <ion-icon *ngIf="post.isLiked" src="assets/icon/liked.svg" class="post-footer-option-icon"
            (click)="post.isLiked=!post.isLiked"></ion-icon>
          <ion-label class="post-footer-option-label">Like</ion-label>
        </ion-col>

        <ion-col size="4" id = "actions" align = "start">
          <ion-icon src="assets/icon/bubble.svg" class="post-footer-option-icon"></ion-icon>
          <ion-label class="post-footer-option-label">Comment</ion-label>
        </ion-col>
    
        <ion-col id="actions" align="start" style="padding-right: 24px;">

          <ion-icon src="assets/icon/share.svg" class="post-footer-option-icon"></ion-icon>
          <ion-label class="post-footer-option-label">Share</ion-label>
        </ion-col>
        <ion-col size="12" style="padding-top: 0%; padding-left: 16px">
          <ion-label class="time-label"> {{ post.time }} </ion-label>
          <ion-label class="likes-label"> {{ post.totalLikes }} likes</ion-label>
        </ion-col>
        <ion-col size="12" style="padding-top: 0%; padding-left: 16px;padding-right: 24px;">
          <p align='justify' class="post-desc">
            <strong style="padding-right: 16px; font-size: 18px"> {{getShortName(post.name)}}</strong>
            {{ post.description }}
          </p>
          <ion-label *ngFor="let tag of post.tags" color="medium" class="tag-label">
            <span class="tag-hash">#</span>{{ tag }}
          </ion-label>
        </ion-col>
        <ion-col size="12" style="padding-top: 0%; padding-bottom: 16px;">
          <span style="float: right; margin-right: 20px">
            <ion-icon src="assets/icon/viewmore.svg" style="vertical-align: middle" id="view"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </div>
  </ion-virtual-scroll>
</ion-content>
