.app-label {
    font-size: 200%;
    padding-left: 15px;
}

.notification-icon-col {
    align-self: center;
    text-align: center;
    font-size: 150%;
    padding-top: 5px;
}

.follow-button {
    padding-right: 5px !important;
    --border-radius: 10px !important;
}

.post-img {
    height: 300px !important;
    width: 100% !important;
}

.over-image-options-div {
    background: #ffffffb8;
    display: flex;
    top: 5%;
    position: absolute;
    right: 5%;
    padding: 8px;
    border-radius: 10px;
    font-size: 120%;
}

.post-footer-option-col {
    text-align: center;
}

.post-footer-option-icon {
    font-size: x-large;
    padding-right: 10px;
}

.post-footer-option-label {
    vertical-align: super;
    font-size: small;
}

.post-desc {
    font-size: small;
    color: #4a4a4a;
    margin-top: 0%;
    margin-bottom: 0%;
}

.tag-label {
    font-size: small;
    padding-right: 5px;
}

.tag-hash {
    font-size: initial;
    font-style: italic;
    padding-right: 2px;
}

.time-label {
    font-size: small;
    color: #4a4a4a;
    padding-right: 10px;
}

.likes-label {
    font-size: small;
    color: #4a4a4a;
}

.view-more-label {
    font-size: small;
    padding-right: 1px;
}

.profile-avatar {
    height: 50px;
    width: 50px;
}
