<ion-header color = "light"  class="ion-no-border"  lines = "none">
  <ion-toolbar color = "light">
    <ion-row style="padding-top: 16px; width: 100%" color = "light" >
      <ion-col align = "start" style="padding-top: 8px; padding-left: 16px;">
        <img src="assets/icon/Favorites.svg" style="width: 40%" alt=""/>
      </ion-col>
      <ion-col size="2.5" style="padding-right: 16px; padding-bottom: 4px;" align = "right">
        <ion-button fill="clear" id = "button" shape="round">
          <ion-icon src="assets/icon/Bell.svg" slot="icon-only" color = "tertiary" id = "icon"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-segment [(ngModel)]="selector" style="background: #FFFFFF; padding-bottom: 5px;" id = "segment">
    <ion-segment-button value="Current" fill = "clear" checked>
      <ion-label  id = "button" >Posts</ion-label>
    </ion-segment-button >
    <ion-segment-button value="Products" fill = "clear" >
      <ion-label id = "button">Products</ion-label>
    </ion-segment-button >
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" [ngSwitch]="selector" >
  <div *ngSwitchCase="'Products'">
    <ion-item lines="none" class="ion-no-padding" style="margin-left: 16px;
      margin-top: 8px">
        <ion-label>
          <p style="color: inherit; font-size: 18px"><strong>Collection name</strong></p>
        </ion-label>
       
        <ion-button shape="round" slot="end" fill = "clear" color = "success">View all</ion-button>
        <ion-icon slot="end" src="assets/icon/options.svg"></ion-icon>
        </ion-item>
        <ion-slides class="image-slider" loop="true" [options]="sliderConfig">
            <ion-slide *ngFor="let image of images" >
              <ion-col>
                <ion-col  style="margin-top: 8px">
                  <img src="{{image.product}}" style="object-fit: cover" class = "product"/>
                </ion-col>
                <ion-col  style="margin-top: 8px; align-content: flex-start;">
               <a style="font-size: 16px; color: #343333">{{image.tag}}</a> <br>
               <a style="font-size: 14px; color: #848484">{{image.posts}}</a>
                  </ion-col>
                  <ion-icon src="assets/icon/liked.svg" class="over-image-options-div"
                  ></ion-icon> 
            </ion-col>
            </ion-slide>
          </ion-slides>
              <ion-item lines="none" class="ion-no-padding" style="margin-left: 16px;
                margin-top: 8px">
                  <ion-label>
                    <p style="color: inherit; font-size: 18px"><strong>Category name</strong></p>
                  </ion-label>
                 
                  <ion-button shape="round" slot="end" fill = "clear" color = "success">View all</ion-button>
                  <ion-icon slot="end" src="assets/icon/options.svg"></ion-icon>
                  </ion-item>
                  <ion-slides class="image-slider" loop="true" [options]="sliderConfig">
                      <ion-slide *ngFor="let post of posts" >
                        <ion-col>
                          <ion-col  style="margin-top: 8px">
                            <img src="{{post.postImg}}" style="object-fit: cover" class = "product"/>
                          </ion-col>
                          <ion-col  style="margin-top: 8px; align-content: flex-start;">
                         <a style="font-size: 16px; color: #343333">{{post.tag}}</a> <br>
                         <a style="font-size: 14px; color: #848484">{{post.posts}}
                          <ion-icon src="assets/icon/dots.svg" style="padding-left: 4px; margin-top: 5px"></ion-icon></a>
                            </ion-col>
                      </ion-col>
                      </ion-slide>
                    </ion-slides>
                  
                        <ion-item lines="none" class="ion-no-padding" style="margin-left: 16px;
                          margin-top: 8px">
                            <ion-label>
                              <p style="color: inherit; font-size: 18px"><strong>Jewellery</strong></p>
                            </ion-label>
                           
                            <ion-button shape="round" slot="end" fill = "clear" color = "success">View all</ion-button>
                            <ion-icon slot="end" src="assets/icon/options.svg"></ion-icon>
                            </ion-item>
                            <ion-slides class="image-slider" loop="true" [options]="sliderConfig">
                                <ion-slide *ngFor="let image of images" >
                                  <ion-col>
                                    <ion-col  style="margin-top: 8px">
                                      <img src="{{image.product}}" style="object-fit: cover" class = "product"/>
                                    </ion-col>
                                    <ion-col  style="margin-top: 8px; align-content: flex-start;">
                                   <a style="font-size: 16px; color: #343333">{{image.tag}}</a> <br>
                                   <a style="font-size: 14px; color: #848484">{{image.posts}}
                                    <ion-icon src="assets/icon/dots.svg" style="padding-left: 4px; margin-top: 5px"></ion-icon></a>
                                      </ion-col>
                                </ion-col>
                                </ion-slide>
                              </ion-slides>
                              <ion-toolbar>
                                <ion-button expand="block" fill="solid" color = "primary" shape="block" style=" margin-right: 16px; margin-left: 16px">
                                    Create a collection
                                  </ion-button>
                            </ion-toolbar>
                              </div>    
                              
                            <div class = "container" *ngSwitchCase="'Current'">
                              <div class = "productcol" *ngFor="let image of images; let i = index" >
                                <img src={{image.product}} class = "productposts"/>
                                <ion-icon src="assets/icon/liked.svg" class="over-image-likes-div"
                                ></ion-icon>
                              </div>
                              </div>
</ion-content>
