.product{
    height: 150px;
    width: 150px
}
// .filters{
//     box-shadow: 0px 6px 12px #DADADA;
//     position: absolute;
//     top: 6.8%;
//     right: 8%;
//     width: 15%;
//     height: 88px;
//     background: #FFFFFF;
//     border-bottom: 1px solid #DADADA;
//    }
//    .col{
//     border: 0.5px solid #DADADA;
//  }

.over-image-options-div {
    display: flex;
    top: 5%;
    position: absolute;
    right: 5%;
    padding: 8px;
    border-radius: 50%;
   width: 12px;
   height: 12px
}
.container{
    margin-top: 8px;
    column-count: 2;
    padding: 0px;
    margin: 0px;
    column-gap: 0px;
    padding-left: 5px;
    padding-right: 5px
}
.productcol{
width: 100%;
}
.productposts{
    object-fit: cover;
    height: 200px;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.over-image-likes-div {
    display: flex;
    top: 2%;
    position: absolute;
    left: 5%;
   width: 16px;
   height: 16px
}